@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,400;1,600&display=swap');

:root{

    --cor-primaria:#2b2d2bbb;
    --cor-segundaria:#000000;
    --cor-terciaria:#609966;
    --cor-hover:#827e7e;

    --font-primaria: "Krona One" , sans-serif;
    --font--segundaria: "Montserrat" , sans-serif;
}

*{
margin: 0;
padding: 0;

}



body{
    /* height: 100vh; */
    box-sizing: border-box ; /*ultilizado para mater o conteudo dentro do body*/
    background-color: var(--cor-primaria); /*muda a cor do fundo da tela*/
    color: var(--cor-segundaria);/*muda a cor de todas a letras dentro do bloco*/

}

.cabesalho{
    padding: 2% 0 0 15%;

}

.cabesalho__menu{
    display: flex;
    gap: 80px;
}

.cabesalho__menu__link{

    font-family: var(--font--segundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;

}

.apresentacao{
    box-sizing: border-box ;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;

}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px; /*indica o espaçamento em cada elemento filho*/

}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem; /* alteração do tamanho da  fonte*/
    font-family: var(--font-primaria); /* altera o tipo da fonte*/
}

.tituloDestaque{

    color: var(--cor-terciaria);
}


.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font--segundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:32px;
}

.apresentacao__links__subtitulo{

    font-family: var(--font-primaria);
    font-weight: 400px;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border:2px solid var(--cor-terciaria);/* primeiro passado a grossura da borda e no segundo a cor, solid a definição do seu formato e depois se passa a cor*/
    width: 50%;
    text-align: center; /* alinhamento do texto para o centro*/
    border-radius: 8px; /*raio de arredondamento*/
    font-size: 1.5rem;
    font-weight: 600; /* arruma o peso da fonte sua*/
    padding:  21.5px 0px;
    text-decoration: none; /*tira o linha azul de link padrão o sublinhado*/
    color: var(--cor-segundaria);
    font-family: var(--font--segundaria);
}

.apresentacao__links__navegacao:hover{

    background-color: var(--cor-hover);
}

.apresentacao__imagem{
    width: 50%;
    
    
}

.rodape{
    color: var(--cor-segundaria);
    background-color: var(--cor-terciaria);
    padding: 1px;
    text-align: center;
    font-family: var(--font--segundaria);
    font-weight: 400;
    font-size: 1.5rem;
}


@media (max-width: 1200px){
    .cabesalho{
        padding: 10%;
    }

    .cabesalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

}
